Content list: 

1. Checking the shapes of the orders and products dataframes
2. Merging the orders and products dataframes.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df_prods = pd.read_csv('df_prods_clean.csv')

In [ ]:
#Dropping the index column from the df_prods dataframe

df_prods= df_prods.drop(['Unnamed: 0'], axis=1)

In [ ]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [ ]:
#importing the orders_products_combined dataframe

df_orders_products_combined = pd.read_pickle('/content/drive/MyDrive/orders_products_combined.pkl')

In [ ]:
df_orders_products_combined.shape

(32434489, 10)

The shape of the df_orders_products_combined dataframe is the same as the one I exported from the '4.6: Merging Your Instacart Data' Notebook

In [ ]:
#dropping the _merge column from orders_products_combined dataframe

df_orders_products_combined = df_orders_products_combined.drop('_merge', axis=1)

In [ ]:
df_orders_products_combined.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,7.0,196,1,0
1,2539329,1,1,2,8,7.0,14084,2,0
2,2539329,1,1,2,8,7.0,12427,3,0
3,2539329,1,1,2,8,7.0,26088,4,0
4,2539329,1,1,2,8,7.0,26405,5,0

In [ ]:
# Merging the df_prods and df_orders_products_combined dataframes on product_id

df_orders_products_merged = df_orders_products_combined.merge(df_prods, on = 'product_id')

In [ ]:
df_orders_products_merged.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0

In [ ]:
from google.colab import files
#Exporting the orders_products_merged dataframe in pickle format 

df_orders_products_merged.to_pickle('orders_products_merged.pkl') 
files.download('orders_products_merged.pkl')