In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_pickle('/content/drive/MyDrive/ords_prods_merge.pkl')

In [3]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,10,New customer,6.367797,Low spender
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender

**Step 7:** Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

 

1.   If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
2.   If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
3. If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [4]:
#Creating order_frequency_median column to get the median of day gaps between successive orders of each user id

df['order_frequency_median']=df.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [5]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,price_range,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,order_frequency_median
0,2539329,1,1,2,8,7.0,196,1,0,Soda,...,7,9.0,Mid-range product,Regularly busy,Most orders,10,New customer,6.367797,Low spender,20.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0

In [6]:
df.loc[df['order_frequency_median'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'
df.loc[(df['order_frequency_median'] <= 20) & (df['order_frequency_median'] > 10), 'order_frequency_flag'] = 'Regular customer'
df.loc[df['order_frequency_median'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [7]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,price_range,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,order_frequency_median,order_frequency_flag
0,2539329,1,1,2,8,7.0,196,1,0,Soda,...,9.0,Mid-range product,Regularly busy,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer

In [8]:
df['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        22790523
Regular customer          6927608
Non-frequent customer     2686728
Name: order_frequency_flag, dtype: int64

In [10]:
from google.colab import files

df.to_pickle('ords_prods_merge_task_4.8.pkl')

In [11]:
files.download('ords_prods_merge_task_4.8.pkl')